DATABASE_URL="mysql://usuario:SuaSenhaDoBanco@127.0.0.1:3306/nome-do-seu-banco"
DB_HOST = "127.0.0.1"
DB_PORT = "3306"
DB_USER = "usuario"
DB_PASSWORD = "SuaSenhaDoBanco"
DB_NAME = "nome-do-seu-banco"
JWT_SECRET="sua-chave-super-segura-aqui"